html {
  background-color: #ffffff;
  font-size: 20px;
}
h1 {
  color: #ba8ee6;
}
ul {
  background: red;
  padding: 10px;
  border: 1px solid black;
}
img {
    width:540px;
    height: auto;
}

li {
  margin-left: 20px;
}
